<!--写真投稿ページ-->
<div class="container my-5">
<h2>new photo</h2>
</div>

<%= form_with model: @photo, url: photo_path, local:true do |f| %>
<div class="col-sm-5">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td></td>
                <td><%= f.attachment_field :image %></td>
            </tr>

            <tr>
                <td><%= f.label :撮影場所 %></td>
                <td><%= f.text_field :address, class: "form-control col-sm-4" %></td>
            </tr>

            <tr>
                <td><%= f.label :本文 %></td>
                <td><%= f.text_field :introduction, class: "form-control col-sm-4" %></td>
            </tr>
        </tbody>
    </table>
    <div class="form-group row">
  <%= f.submit "保存" ,class: 'btn btn-success' %>
</div>
</div>
<% end %>