<!--写真投稿ページ-->
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-7 col-sm-10 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">
          <strong>編集</strong>
      </h5>
        <%= form_with model: @photo, url: photo_path, local:true do |f| %>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td></td>
                        <td><%= f.attachment_field :image %></td>
                    </tr>
                    <tr>
                        <td width="120"><%= f.label :撮影場所 %></td>
                        <td><%= f.text_field :address, class: "form-control" %></td>
                    </tr>
                    <tr>
                        <td width="120"><%= f.label :本文 %></td>
                        <td><%= f.text_area :introduction, class: "form-control", :size=>"60x10" %></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <%= f.submit "保存" ,class: 'btn btn-success' %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<% end %>