<!--写真詳細-->
<div class="container my-5">
  <h2>your photo</h2>
  <%= attachment_image_tag @photo, :image, :fill, 600, 450, format: 'jpeg' %>

<div class="col-sm-6">
  <%= @photo.introduction %>
</div>
<div class="col-sm-6">
<%= @photo.address %>
</div>

<!--gonを読み込み-->
<%= include_gon %>
<div id="map"></div>
<!--削除ボタン↓-->
<% if @photo.customer == current_customer %>
<%= link_to "削除", photo_path(@photo), method: :delete, "data-confirm" => "本当に写真を削除しますか？" %>
<% end %>

<!--↓お気に入り登録ボタン↓-->
<% if @photo.favorited_by?(current_customer) %>
<p>
  <span>お気に入り解除</span>
  <%= link_to "♡お気に入り解除", favorites_path(@photo), method: :delete %>
</p>
<% else %>
<p>
  <%= link_to "♡お気に入り追加", favorites_path(@photo), method: :post %>
</p>
<% end %>
</div>

<script>
  let map;

  function initMap() {
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.photo.latitude,
        lng: gon.photo.longitude
      },
      // マップの倍率
      zoom: 15,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.photo.latitude,
        lng: gon.photo.longitude
      },
      map: map
    });
  }
</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAP_API'] %>&callback=initMap">
</script>