<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag("image13.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag("image01.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image12.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image04.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image05.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image06.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image15.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image14.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
<!--<script src="/swiper/swiper.min.js"></script>-->
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 60,
      effect: "fade",//スライドの切り替え
      autoplay: {
        delay: 5000,//スライドの速度 1000=1秒
        disableOnInteraction: false,//スライダーを操作自動再生を止めない
      },
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",//ページネーションの種類
        clickable: true,//ページネーションのクリック
      },
      navigation: {
        nextEl: '.swiper-button-next',//遷移ボタン進む
        prevEl: '.swiper-button-prev',//遷移ボタン戻る
      },
    });
  </script>