<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <%= image_tag("image13.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag("image01.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image12.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image04.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image05.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image06.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image15.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>

      <div class="swiper-slide">
        <%= image_tag("image14.jpg") %>
        <%= link_to "Enter", photos_path, class: "link" %>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
<!--<script src="/swiper/swiper.min.js"></script>-->
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 60,
      effect: "fade",
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        type: "bullets",
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>