<!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag("image01.jfif") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
      <div class="swiper-slide"><%= image_tag("image11.jpg") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
      <div class="swiper-slide"><%= image_tag("image12.jfif") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
      <div class="swiper-slide"><%= image_tag("image04.jfif") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
      <div class="swiper-slide"><%= image_tag("image05.jfif") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
      <div class="swiper-slide"><%= image_tag("image06.jfif") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
      <div class="swiper-slide"><%= image_tag("image07.jpeg") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
      <div class="swiper-slide"><%= image_tag("image08.png") %><span><%= link_to "Enter", photos_path, class: "link" %></span></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
<!--<script src="/swiper/swiper.min.js"></script>-->
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 60,
      effect: "fade",
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>