<!--管理者側/会員情報一覧-->
<div class="container my-3">
 <h1>会員一覧</h1>
 <div class="row mt-3">
  <div class="offset-sm-1 col-sm-10">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>有効／退会</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer) do %>
            <%= customer.name %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td><%= customer.is_deleted ? '有効' : '退会' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
 </div>
</div>
