<!DOCTYPE html>
<html>
  <head>
    <title>SkyPhoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="rogo">
        <%= link_to root_path do %>
        <%= image_tag 'skyrogo2.jpg', size: "195x120" %>
        <% end %>
      </div>
    </header>
    <div id="navArea">
      <nav>
      <div class="inner text-center">
        <ul>
          <% if admin_signed_in? %><!--管理者でログイン-->
          <%= image_tag 'skyrogo2.jpg', size: "190x125" %>
          <li><%= link_to "ユーザ一覧", admin_customers_path %></li>
          <li><%= link_to "logout", destroy_admin_session_path, method: :delete %></li>

          <% elsif customer_signed_in? %><!--会員でログインしていたら-->
          <%= image_tag 'skyrogo2.jpg', size: "190x125" %>
          <li>
          <%= link_to about_path do %>
          <i class="fas fa-question"> About</i>
          <% end %>
          </li>
          <li>
           <%= link_to photos_path do %>
        <i class="fas fa-images"> Gallery</i>
        <% end %>
      </li>
      <li>
        <%= link_to new_photo_path do %>
        <i class="fas fa-camera-retro"> New photo</i>
        <% end %>
      </li>
      <li>
        <%= link_to customer_path(current_customer) do %>
        <i class="fas fa-user"> My page</i>
        <% end %>
      </li>
      <li>
        <%= link_to destroy_customer_session_path, method: :delete do %>
        <i class="fas fa-sign-out-alt"> Log out</i>
        <% end %>
      </li>

      <% else %><!--ログイン前の画面を表示-->
      <%= image_tag 'skyrogo2.jpg', size: "190x125" %>
      <li>
        <%= link_to about_path do %>
        <i class="fas fa-question"> About</i>
        <% end %>
      </li>
      <li>
        <%= link_to photos_path do %>
        <i class="fas fa-images"> Gallery</i>
        <% end %>
      </li>
      <li>
        <%= link_to new_customer_registration_path do %>
        <i class="fas fa-user-plus"> New member</i>
        <% end %>
      </li>
      <li>
        <%= link_to new_customer_session_path do %>
        <i class="fas fa-sign-in-alt"> Log in</i>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
<!--ボタン-->
<div class="toggle_btn">
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="mask"></div>
<!--ボタンここまで-->
</div>
<main>
<%= yield %>
</main>

<script>
  (function($) {
  var $body   = $('body');
  var $btn   = $('.toggle_btn');
  var $mask  = $('#mask');
  var open   = 'open'; // class
  // menu open close
  $btn.on( 'click', function() {
    if ( ! $body.hasClass( open ) ) {
      $body.addClass( open );
    } else {
      $body.removeClass( open );
    }
  });
  // mask close
  $mask.on('click', function() {
    $body.removeClass( open );
  });
} )(jQuery);
</script>

</body>
</html>